**/__pycache__
**/__pycache__/*
**/env/
**/env/*
hex_import.py
hex_fragmenter.py
hex10k_1.geojson
hex10k_2.geojson
hex100ktest.geojson
hex100ktest2.geojson
hex100ktest3.geojson
5k_merge.py
bbox.py
census_split.py
hex_export.py
logsnippet
sample_poly.geojson
sample_state.geojson
setup.py
speed_test.py
test_adj.py
test_point.geojson
test_point_json.json
testexport.csv
testexport.geojson
validate_geojson.py
**/aggregations
**/aggregations/*
**/dump/
**/dump/*
**/hexes
**/hexes/*
**/layers
**/layers/*
.idea
/js/.idea
/db-dump
*.pyc
