            <section class="footer-oss">
                <h4>Open Source</h4>
                <p>
                    FCC Visualizing Mobile Broadband developer documentation is modified from <a href="https://github.com/cfpb/api">an open source project</a> maintained by the Consumer Financial Protection Bureau.
                </p>
                <p>
                    Source code released by FCC is in the public domain by default within the United States.
                </p>
            </section>
            <section class="footer-links">
                <ul>
                    <li>
                        <a href="http://www.fcc.gov/">fcc.gov</a>
                    </li>
                    <li>
                        <a href="http://github.com/fcc/vizmo">github.com/fcc/vizmo</a>
                    </li>
                    <li>
                        <a href="http://www.fcc.gov/developers">FCC Developers</a>
                    </li>                    
                </ul>
            </section>