<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} &laquo; Visualizing Mobile Broadband API Documentation &laquo; FCC</title>
  <meta name="description" content="FCC Visualizing Mobile Broadband API Documentation">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="img/fcc_favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.css">
 
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" href="../static/css/for-ie-only.css">
  <![endif]-->


</head>
<body>
  

  <header class="header cf" role="banner">
      {% include header.html %}
  </header>

  <div class="wrap">
    <div class="content">

<a id="skiptarget1" class="visuallyhidden" tabindex="-1"></a>
    <aside>
    
    {% include nav.html %}
    </aside>

<a id="skiptarget2" class="visuallyhidden" tabindex="-1"></a>
    <section class="main-content" role="main">
    
    {{ content }}
    </section>

    </div>
  </div> <!--wrap-->

    <a id="skiptarget3" class="visuallyhidden" tabindex="-1"></a>
    <footer class="footer cf" role="contentinfo">
    
      <div class="wrap">
        {% include footer.html %}
      </div>
    </footer>
  
  <script src="../static/js/docs.min.js"></script>
  <script src="../static/js/expandables.js"></script>
  <script src="http://www.fcc.gov/sites/all/themes/fcc/js/ga-event-tracking.js"></script>
</body>
</html>
